body {
    font-family: Arial, sans-serif;
    background-image: url('/static/download.jfif'); /* Adicionando a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

#chat-interface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.8); /* Fundo semi-transparente */
    border-radius: 10px; /* Bordas arredondadas */
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.8); /* Fundo semi-transparente */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Resto do CSS... */
